
* {
    margin: 0px;
    padding: 0px;
  }


/*----------------header---------------*/


header {
    background-color: yellow;
    width: 100%;
    position: fixed;
    overflow: auto;
    border-color: black;
    border-style: solid;
    z-index: 100;
}


.header-container {
    max-width: 960px;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.name {
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    
    float: left;
}

nav {
    float: right;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-right: 20px;
}

.nav-list {
    color: black;
    background-color: green;
    margin-left: 5px;
    margin-right: 5px;
}


/*---------------main-----------------*/


.content-container {
    max-width: 960px;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.aboutme {
    border-style: solid;
    width: 100%;
}

img {
    border-style: solid;
    float: left;
    margin-right: 20px;
}

.description {
    border-style: solid;
    display: inline;
    float: right;
    position: relative;
}

/*-------------footer--------------*/


footer {
    background-color: yellow;
    width: 100%;
    border-style: solid;
    text-align: center;
    height: 50px;
    display: inline-block;
}

.footer-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}